/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    color: #262626;
    overflow: hidden;
}

button {
    border: none;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}

/* Globals */
.container {
    padding: 0 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    border: none;
}

.btn2 {
    display: inline;
    padding: 10px 20px;
    color: rgb(8, 85, 173);
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #8d8c8c1c;
}

.btn2:hover {
    background: #cecece63;
}

.sectioned {
    border-bottom: 1px solid #74747471;
    padding-bottom: 20px;
}

.text-fadded {
    color: #919191;
}

.text-bold {
    font-weight: bold;
}

.search-form input {
    outline: none;
    width: 480px;
    padding: 10px 50px;
    font-size: 16px;
    border: 1px solid #e7e7e7b6;
    background: #ffffff;
    border-radius: 50px;
}

/* Nav-main */
.nav-main {
    margin-top: 10px;
}

.nav-main ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-main ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-main ul li a {
    font-size: 12px;
    padding: 5px 5px 0 5px;
}
.nav-main ul li a:hover {
border-bottom: 1px solid #565656;
}

.nav-main ul li img.menu-btn {
    width: 20px;
    margin-left: 5px;
}

.nav-main ul li img.account-btn {
    width: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.nav-apps, .nav-account {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 20px;
    text-align: center;
    background: #ffffff;
    color: #262626;
    height: 450px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: -5px 5px 10px 0px rgba(161,140,161,1);
    -moz-box-shadow: -5px 5px 10px 0px rgba(161,140,161,1);
    box-shadow: -5px 5px 10px 0px rgba(161,140,161,1);
    display: none;
}

.nav-apps ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
}

.nav-apps .nav-app {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20px;
}
.nav-apps img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.nav-apps button {
    margin-bottom: 20px;
}

/* Nav account */
.nav-account {
    display: none;
    overflow-y: hidden;
}

.nav-account .account {
    padding: 20px 80px;
}

.nav-account .account img {
    width: 80px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.nav-account .account .account-info {
    margin-bottom: 20px;
}

.nav-account .account button {
    border-radius: 50px;
}

.nav-account .add-account {
    text-align: left;
    padding: 20px 40px;
}

.nav-account .logout {
    padding: 20px;
}

.nav-account .links ul{
    display: flex;
    justify-content: center;
    font-size: 11px;
    padding: 20px;
    gap: 10px;
}

.nav-account .btn2 {
    color: #262626;
}

.nav-account a {
    padding: 5px;
}
.nav-account a:hover {
    text-decoration: none;
    border-bottom: none;
    background-color: #eeeeee;
}

/* Showcase */
.showcase {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    gap: 20px;
    padding-bottom: 320px;
    color: #a5a5a5dc;
}
.showcase form i.fa-search {
    position: relative;
    right: -38px;
}

.showcase form .keyboard-link {
    position: relative;
    left: -38px;
    color: #636262f8;
}

.showcase form ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.showcase form ul li {
    padding: 10px;
}

.showcase form ul li .btn1 {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #d3d2d271;
    color: #262626d0;
    font-size: 13px;
}
.showcase form ul li .btn1:hover {
    text-decoration: none;
    border: none;
}

.showcase .languages {
    display: flex;
    gap: 15px;
    font-size: 12px;
    color: #262626;
}

.showcase .languages ul {
    display: flex;
}
.showcase .languages ul li {
    margin: 0 10px;
}

.showcase .languages ul li a:hover {
    border-bottom: 1px solid #565656;
}
/* Footer */
.footer-main {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background: #dfdede71;
    color: #262626bb;
    font-size: 14px;
}

.footer-main p {
    border: 1px solid #dbdbdb;
    padding: 10px 30px;
}

.footer-main .footer-links {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.footer-main .footer-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.footer-main .footer-links ul li {
    margin-right: 10px;
}

.footer-main .footer-links .footer-links-left {
    float: left;
    margin-left: 30px;
}

.footer-main .footer-links .footer-links-right {
    float: right;
    margin-right: 30px;
}


.footer-main .footer-links ul li a {
    color: #262626bb;
}

/* Search PageS Styles */
/* Search page navigation */
#search-page .nav-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding: 20px;
    background-color: #ffffff;
}

#search-page .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search-page .nav-main .logo img {
    width: 100px;
    margin-right: 40px;
}

#search-page .nav-main form {
     display: flex;
     align-items: center;
}

#search-page .nav-main form input {
    width: 700px;
}

#search-page .nav-main form ul {
    position: relative;
    margin-left: -130px;
}

#search-page .nav-main form ul li, #search-page .nav-main form ul li a {
    padding: 10px;
    color: #919191;
}

#search-page .nav-main form ul li:first-child {
    border-right: 1px solid #91919159;
    padding-right: 20px;
}



/* Search page filters */
body#search-page {
    overflow: visible;
}
#search-page .container {
    width: 55%;
    margin-left: 140px;
}
#search-page .filters {
    margin-top: 100px;
    border-bottom: 1px solid #91919159;
}

#search-page .filters ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-page .filters ul li {
    margin-right: 15px;
    font-size: 12px;
    padding-bottom: 10px;
}

#search-page .filters ul li a {
    color: #565656e7;
}

#search-page .filters ul li i {
    margin-right: 5px;
}

#search-page .filters ul li.active {
    border-bottom: 3px solid rgba(10, 10, 243, 0.603);
}

/* Search page Results count */
.results-count {
    margin: 15px 0;
}

/* Search page results */
.results .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.results .result {
    margin-top: 20px;
}

.results .result .result-title {
    font-size: 18px;
}

.results .result a:hover{
    border-bottom: 1px solid blue;
    padding-bottom: 0;
}

.results .result .result-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

/* Other search */
.other-search {
    margin: 20px 0;
    font-size: 16px;
    width: 100%;
}
.other-search ul {
    border: 1px solid #91919159;
    border-radius: 10px;
}
.other-search .other-search-item {
    padding: 10px 20px;
    border-bottom: 1px solid #91919159;
}
.other-search .other-search-item a{
    float: right;
}
.other-search .other-search-item:not(:first-child):hover {
    cursor: pointer;
}

/* Search page footer */
#search-page .footer-main {
    position: relative;
    padding-bottom: 20px;
}

#search-page .footer-main p {
    padding-left: 150px;
    margin-left: 0;
}

#search-page .footer-main .footer-links ul:first-child {
    padding-left: 120px;
}


@media(max-width: 700px) {
    .nav-main {
        display: inline-block;
        float: right;
    }

    .nav-account .account {
        padding: 20px 40px;
    }

    .showcase .logo img {
        width: 150px;
    }

    .showcase form input {
        width: 300px;

    }
    .footer-main .footer-links ul {
        float: none;
        justify-content: center;
        align-items: center;
    }

    .footer-main .footer-links .footer-links-left {
        float: none;
        margin-left: 0;
    }

    .footer-main .footer-links .footer-links-right {
        float: none;
        margin-right: 0;
    }
}
 
/* Toggled classes */
.show {
    display: block;
}